<div class="overlay_container" style="overflow: hidden; width: 99%;">
	<div style= "float:left; width:40%">
		<%= image_tag(tv_show.poster, :size => "200x300") %>
	</div>
	<div style= "float:right; width:60%">
		<h1 class="giant_goldfish"><%=tv_show.name%></h1> 
		<h3>
			<% if (tv_show.spudsy_rating >= 60) %>
			<img src='../blue_tv.png' class="rt_img_overlay test" />
			<% else %>
			<img src="../static_tv.png" class="rt_img_overlay test" />
			<% end %>
			<%= tv_show.spudsy_rating %>
		</h3>
		<h3>Originally aired: <%= tv_show.release_date.strftime("%B %d, %Y") %></h3>
	</div>
</div>
<div style="width:95% ">
	<div class="overlay_info" style="overflow:hidden; height:200px">
		<h3>Description</h3>
		<p><%=tv_show.description%></p>
	</div>
</div>
