<table class="gridTable" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr class="gridHeader">
			<td class="gridHeaderCellLeft">
				<div title="Previous Day" class="ghcPrevDay"></div>
				<div title="Next Day" class="ghcNextDay"></div>
				<span title="Click to Go to Current Date/Time" class="ghcNow">12/11<!--0pan--></span>
			</td>
			<td valign="middle" class="gridHeaderCellRight">
				<div onclick="scroll(0,0);" title="Go to Top" class="ghcTop"></div>
			</td>
			<td valign="middle" style="cursor:pointer" class="gridHeaderNavLeftCell"></td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.readable(30.minutes) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 30) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 60) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 90) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 120) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 150) %></div>
			</td>
		</tr>
		
		<% @stations.each_pair do |id, station| %>	
			<tr valign="top" class="gridRow">
				<td valign="middle" nowrap="" align="center" class="gridCallSignCell" >
					<span class="gridCallSignText"><%= station.callsign %></span>
					<br>
					<span class="gridNetworkText"><%= station.name %></span>
				</td>
				<td valign="middle" align="center" class="gridChannelCell">
					<a href="#">
						<span class="gridChannelText"><%= station.major_channel %>.<%= station.minor_channel %></span>
					</a>
				</td>

				<% station.programs.each_with_index do |program, index| %>				
					<% if index == 0 && program.start_time_from_now.to_i < 0 %>
						<td class="gLSC_run">
							&nbsp;
						</td>
					<% elsif index == 0 %>
						<td class="gLSC">
							&nbsp;
						</td>
					<% end %>					
					<% if program.start_time_from_now.to_i < 0 %>
						<% cols = program.duration + program.start_time_from_now.to_i %>
					<% elsif program.end_time_from_now.to_i > 180 %>
						<% cols = program.duration - (program.end_time_from_now.to_i - 180) %>
					<% else %>
						<% cols = program.duration %>
					<% end %>	
					
					<% 
						show = TvShow.where { name =~ program.title }[0]
						spudsy_rating = 0
						spudsy_rating = (show.spudsy_rating*10).to_i unless show.nil?
						if spudsy_rating < 40
							styleClass = "popBottom"
						elsif spudsy_rating >= 40 && spudsy_rating < 85
							styleClass = "popMiddle"
						else 
							styleClass = "popTop"
						end
					 %>
						

					<td class="gC c4b <%= styleClass %>" colspan="<%= cols %>" title="Click to Show/Hide Details">
						<div class="gP gH" id="cc">
							<span class="grid_left">
								<span class="ctt c4tt" id="tn"><%= program.title %></span>
								<span class="cdt c4dt episode_title"><br><%= program.episode_title %></span>
							</span>
							<span class="grid_right">
								<% if (spudsy_rating > 0) %>
									<span class="cdt c4dt" style="float:right;"><%= spudsy_rating %>%</span>
								<% end %>
							</span>
						</div>
					</td>
	
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
