<table class="gridTable" cellspacing="0" cellpadding="0" border="0" >
	<thead>
		<tr class="gridHeader">
			<td class="gridHeaderCellLeft">
				<div title="Previous Day" class="ghcPrevDay"></div>
				<div title="Next Day" class="ghcNextDay"></div>
				<span title="Click to Go to Current Date/Time" class="ghcNow">12/11<!--0pan--></span>
			</td>
			<td valign="middle" class="gridHeaderCellRight">
				<div onclick="scroll(0,0);" title="Go to Top" class="ghcTop"></div>
			</td>
			<td valign="middle" style="cursor:pointer" class="gridHeaderNavLeftCell"></td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.readable(30.minutes) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 30) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 60) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 90) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 120) %></div>
			</td>
			<td nowrap="" class="gridHeaderTimeCell" colspan="30">
				<div class="gP"><%= Time.now.utc.readable_plus(30.minutes, 150) %></div>
			</td>
		</tr>
	</thead>
	<tbody id="stations">
		<%= render 'stations', :stations => stations %>
	</tbody>
</table>
