<div id="your_picks">
	<% media.each_with_index do |media, index| %>
	<% if index < 6 %>
	<% if (index % 6 == 0) %>
		<div class="container_12">
	<% end %>
		<% 
		if media.class.to_s.downcase.pluralize == "movies" 
			media_name = "movies" 
		else 
			media_name = "tv_shows"
		end
		%>
		
		<div class="grid_2">
			<div data-id="<%= "#{media_name}/#{media['id']}" %>" class="poster tv_show">
				
				<%= image_tag("#{media['poster']}", :size => "140x200") %>
				<% if (media.class == Movie) %>
				<h3 class="rating grey_shade">
					<% if (media['rating'] >= 60) %>
						<% if (media['certified']) %>
						<img class="rt_img" src="../blue_tv.png" />
						<% else %>
						<img class="rt_img test" src="../blue_tv.png" />
						<% end %>
					<% else %>
						<img class="rt_img" src="../static_tv.png" />
					<% end%>
					<span><%= media['spudsy_rating'] %></span>
				</h3>
				<% else %>
				<h3 class="tv_rating grey_shade">
					<span><%= media['rating'] %>/10</span>
				</h3>
				<% end%>
			</div> 
			<br />
			<div>
				<% if user_signed_in? %>
					<span data-id="<%= "#{media_name},#{media['id']}" %>">
						<a href = "#" class = "hide_media_button" id = "hide_like">Like</a>
						<a href = "#" class = "hide_media_button" id = "hide_dislike" style = "float: right">Hate</a>
					</span>
				<%end%>
			</div>
		</div>
	<% if (index % 6 == 5) %>
		</div>
	<% end %>
	
	<% end %>
	
	<% end %>
	
</div>
