<%= debug session %>
<div class="fixed_left_nav">
	<h2>Watch a</h2>	
	<input id="movie" type="checkbox" value="movie" />	
	<label for="movie">Movie</label>
	<br />
	<input id="tv_show" type="checkbox" value="tv_show" />	
	<label for="tv_show">TV Show</label>
	<select data-placeholder="Genre" class="chzn-select" id="genre_select" multiple style="width:125px;" >
		<option value=""></option>
		<option value="Action">Action</option>
		<option value="Adventure">Adventure</option>
		<option value="Animation">Animation</option>
		<option value="Comedy">Comedy</option>
		<option value="Crime">Crime</option>
		<option value="Disaster">Disaster</option>
		<option value="Documentary">Documentary</option>
		<option value="Drama">Drama</option>
		<option value="Eastern">Eastern</option>
		<option value="Fantasy">Fantasy</option>
		<option value="History">History</option>
		<option value="Holiday">Holiday</option>
		<option value="Horror">Horror</option>
		<option value="Music">Music</option>
		<option value="Musical">Musical</option>
		<option value="Mystery">Mystery</option>
		<option value="Road Movie">Road Movie</option>
		<option value="Science Fiction">Science Fiction</option>
		<option value="Short">Short</option>
		<option value="Sport">Sport</option>
		<option value="Suspense">Suspense</option>
		<option value="Thriller">Thriller</option>
		<option value="Western">Western</option>
	</select>
	
	<h2>on</h2>	
	<input id="hulu" type="checkbox" value="hulu" />	
	<label for="hulu">Hulu+</label>
	<br />
	<input id="netflix" type="checkbox" value="netflix" />	
	<label for="netflix">Netflix</label>
	<br />
	<input id="redbox" type="checkbox" value="redbox" />	
	<label for="redbox">Redbox</label>
	<br />
	<input id="tv" type="checkbox" value="tv" />	
	<label for="tv">TV</label>
</div>

<div class="container_12" id="search_container">

	<div class="grid_6 relative_position">
		<%= form_tag "/results", :method => "get" do%>
    		<%= text_field_tag :search_box, params[:search_box], :placeholder => 'Search for movies, TV shows, genres, or actors'%>
		<% end %>
		<img src='../06-magnify.png' id='magnify_img' />
	</div>
	<div class="grid_4 prefix_2">
		<div id="twitter_tab" class="social_tabs"></div>
		<div id="facebook_tab" class="social_tabs"></div>
	</div>
	
</div>

<div class="container_12 grey_border" id="twitter_section" style="display:none;">
	<div class="grid_12">		
		<h1 class="clean_pondwater">Twitter</h1>
	</div>
</div>

<div class="container_12 grey_border" id="facebook_section" style="display:none;">
	<div class="grid_12">
		<h1 class="clean_pondwater">Facebook</h1>
	</div>
</div>

<div class="container_12">
	<div class="grid_12">	
		<h1 class="giant_goldfish">Your Picks</h1>
	</div>
</div>

<div id="your_picks_container">
	<div id="your_picks_section" class="grey_border">
		<%= render :partial => 'your_picks', :locals => { :media => @your_picks } %>
	</div>
	
	<div class="container_2">
		<a href="#" id="previous_picks" style="display:none;">Previous picks</a>
	</div>
	
	<div class="container_2">
		<a href="#" id="view_more">View More</a>	  	
	</div>

</div>



<div id="hulu_section" class="grey_border" style="display: none">
	<%= render :partial => 'netflix', :locals => { :shows => @show_array, :header => "Hulu" } %>
</div>

<div id="netflix_section" class="grey_border" style="display: none">
	<%= render :partial => 'netflix', :locals => { :shows => @show_array.reverse, :header => "Netflix" } %>
</div>


<div id="tv_section">
	<div class="container_12">
		<div class="grid_12">	
			<h1 class="giant_goldfish">TV</h1>
		</div>
	</div>
	<div class="container_12">
		<div class="grid_12">
			<%= render :partial => 'tv_grid' %>
		</div>
	</div>
</div>

<div id="hidden_div" style="display: none">
	<div id="info_overlay" ></div>
</div>
