
<div class="fixed_left_nav">
	<h2>Watch a</h2>	
	<input id="movie" type="checkbox" value="movie" />	
	<label for="movie">Movie</label>
	<br />
	<input id="tv_show" type="checkbox" value="tv_show" />	
	<label for="tv_show">TV Show</label>
	<select data-placeholder="Genre" class="chzn-select" id="genre_select" multiple style="width:125px;" >
		<option value=""></option>
		<option value="Action">Action</option>
		<option value="Adventure">Adventure</option>
		<option value="Animation">Animation</option>
		<option value="Comedy">Comedy</option>
		<option value="Crime">Crime</option>
		<option value="Disaster">Disaster</option>
		<option value="Documentary">Documentary</option>
		<option value="Drama">Drama</option>
		<option value="Eastern">Eastern</option>
		<option value="Fantasy">Fantasy</option>
		<option value="History">History</option>
		<option value="Holiday">Holiday</option>
		<option value="Horror">Horror</option>
		<option value="Music">Music</option>
		<option value="Musical">Musical</option>
		<option value="Mystery">Mystery</option>
		<option value="Road Movie">Road Movie</option>
		<option value="Science Fiction">Science Fiction</option>
		<option value="Short">Short</option>
		<option value="Sport">Sport</option>
		<option value="Suspense">Suspense</option>
		<option value="Thriller">Thriller</option>
		<option value="Western">Western</option>
	</select>
	
	<h2>on</h2>	
	<input id="hulu" type="checkbox" value="hulu" />	
	<label for="hulu">Hulu+</label>
	<br />
	<input id="netflix" type="checkbox" value="netflix" />	
	<label for="netflix">Netflix</label>
	<br />
	<input id="redbox" type="checkbox" value="redbox" />	
	<label for="redbox">Redbox</label>
	<br />
	<input id="tv" type="checkbox" value="tv" />	
	<label for="tv">TV</label>
</div>

<div class="container_12">
	<div class="grid_12">	
		<h1 class="giant_goldfish">Your picks</h1>
	</div>
</div>

<div class="container_12" id="poster_slider_1">
	<div class="grid_2 poster">
		<%= image_tag("#{@argo_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade">#1 - HBO 9p</h3>
		<div class="rating grey_shade">
			<img class="rt_img" src="../rt_certified.png" />
			<span><%= @argo_score %>%</span>
		</div>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@perks_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#2 - Redbox</span></h3>
		<div class="rating grey_shade">
			<img class="rt_img" src="../rt_certified.png" />		
			<span><%= @perks_score %>%</span>
		</div>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@looper_poster}", :size => "140x200") %>		
		<h3 class="rank grey_shade"><span>#3 - Netflix</span></h3>
		<div class="rating grey_shade">
			<img class="rt_img" src="../rt_fresh.png" />
			<span><%= @looper_score %>%</span>
		</div>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@show_array[0]['photo_url']}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#4 - Netflix</span></h3>
		<div class="tv rating grey_shade">
			<span><%= @show_array[0]['rating'] %>/10</span>
		</div>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@rises_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#5 - TNT 7:30p</span></h3>
		<div class="rating grey_shade">
			<img class="rt_img" src="../rt_fresh.png" />
			<span><%= @rises_score %>%</span>
		</div>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@show_array[1]['photo_url']}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#6 - Hulu+</span></h3>
		<div class="rating grey_shade">
			<img class="rt_img" src="../rt_rotten.png" />
			<span><%= @show_array[1]['rating'] %>/10</span>
		</div>
	</div>
</div>

<div class="container_12" id="poster_slider_2">
	<div class="grid_2 poster">
		<%= image_tag("#{@dark_knight_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#7 - Netflix</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_certified.png" />
			<span><%= @dark_knight_score %>%</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@show_array[2]['photo_url']}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#8 - CBS 8p</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_rotten.png" />
			<span><%= @show_array[2]['rating'] %>/10</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@avengers_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#9 - HBO 3p</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_fresh.png" />
			<span><%= @avengers_score %>%</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@cloud_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#10 - Redbox</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_rotten.png" />
			<span><%= @cloud_score %>%</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@show_array[3]['photo_url']}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#11 - AMC 8p</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_certified.png" />
			<span><%= @show_array[3]['rating'] %>/10</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@iron_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#12 - Amazon</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_fresh.png" />
			<span><%= @iron_score %>%</span>
		</h3>
	</div>
</div>

<div class="container_12" id="poster_slider_3">
	<div class="grid_2 poster">
		<%= image_tag("#{@show_array[4]['photo_url']}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#13 - TBS 7p</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_fresh.png" />
			<span><%= @show_array[4]['rating'] %>/10</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@titanic_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#14 - ABC 7p</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_fresh.png" />
			<span><%= @titanic_score %>%</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@texas_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#15 - Netflix </span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_rotten.png" />
			<span><%= @texas_score %>%</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@legend_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#16 - Amazon</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_fresh.png" />
			<span><%= @legend_score %>%</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@lotr_poster}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#17 - TNT 1pm</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_certified.png" />
			<span><%= @lotr_score %>%</span>
		</h3>
	</div>
	<div class="grid_2 poster">
		<%= image_tag("#{@show_array[5]['photo_url']}", :size => "140x200") %>
		<h3 class="rank grey_shade"><span>#18 - FOX 8p</span></h3>
		<h3 class="rating grey_shade">
			<img class="rt_img" src="../rt_rotten.png" />
			<span><%= @show_array[5]['rating'] %>/10</span>
		</h3>
	</div>
</div>

<div class="container_2" id="view_more">
	<button>View More</button>
</div>

<div id="netflix_section" style="display: none">
	<%= render :partial => 'netflix', :locals => { :shows => @show_array } %>
</div>

<div id="tv_section">
	<div class="container_12">
		<hr />
	</div>
	<div class="container_12">
		<div class="grid_12">	
			<h1 class="giant_goldfish">TV</h1>
		</div>
	</div>
	<div class="container_12">
		<div class="grid_12">
			<iframe src="http://www.titantv.com/#ctl00_Main_TVL_ctl00_Grid" style="width: 100%; height: 800px"></iframe>
		</div>
	</div>
</div>

<div id="hidden_div" style="display: none">
	<div id="popup" >
		<h1>Fuck That Shit</h1>
	</div>
</div>
